.overlay {
  position: fixed;
  left: -10px;
  top: -10px;
  right: -10px;
  bottom: -10px;
  z-index: 110;
  background-color: #000;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  filter: blur(3px);
}
